<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
        >
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/unit/</directory>
        </testsuite>
        <testsuite name="E2E">
            <directory>./tests/e2e/</directory>
        </testsuite>
    </testsuites>
</phpunit>